<%- include header %>
	<div class="uk-grid" data-uk-grid-margin>
	    <div class="uk-width-medium-1-1 ">
	    	<div class="uk-container-center uk-text-center"><img width="708" height="358" src="../image/bar_002.jpg" alt=""></div>
	    </div>
	</div>
	<div class="tm-middle">
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="tm-main">
                    <div class="tm-grid-truncate uk-grid uk-text-center" data-uk-grid-margin>
                        <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
					    <div class="in uk-width-medium-1-4">
					    	<div class="uk-grid">
				                <img src="http://imga3.4399.cn/upload_pic/2014/9/9/4399_15015825826.jpg">
				                <div><strong>动物足球园</strong><span>体育小游戏 | 3.47MB</span><span>10071人玩过</span></div>
				            </div>
					    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


<%- include footer %>

